[data-isotope-layout] {
  z-index: 0;
  display: block;
  min-height: 160px;
  transition: 0.4s all ease;
}

[data-isotope-layout] [class*="col-"] {
  display: block;
  will-change: transform;
  backface-visibility: hidden;
  transition: 0.1s opacity ease-in;
  margin-top: 30px;
}

@media (min-width: 768px) {
  [data-isotope-layout] [class*="col-"] {
    margin-top: 50px;
  }
}

[data-x-mode="true"] [data-isotope-layout] [class*="col-"] {
  opacity: 1;
}

[data-x-mode="true"] [data-isotope-layout]:after {
  opacity: 0;
  visibility: hidden;
}

.isotope-range-default {
  margin-bottom: -30px;
}

.isotope-range-default:empty {
  margin-bottom: 0;
}

.isotope-range-default > * {
  margin-bottom: 30px;
}

.isotope-filters > * {
  margin-top: 0;
  vertical-align: middle;
}

.isotope-filters .inline-list {
  position: relative;
  transform: translateY(-10px);
  margin: 0;
  word-spacing: 0;
}

.isotope-filters .inline-list li {
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}

.isotope-filters .inline-list a {
  position: relative;
  transition: 0.3s;
  color: #41516a;
}

@media (min-width: 992px) {
  .isotope-filters .inline-list > li:not(:last-child) {
    margin-right: 5px;
  }
  .isotope-filters .inline-list a {
    border: 2px solid #fff;
    padding: 12px 20px 12px;
  }
  .isotope-filters .inline-list a,
  .isotope-filters .inline-list a:active,
  .isotope-filters .inline-list a:focus {
    color: #888;
  }
  .isotope-filters .inline-list a:hover,
  .isotope-filters .inline-list a.active {
    color: #fff;
  }
  .isotope-filters .isotope-filters-trigger {
    display: none;
  }
}

.isotope-filters-responsive {
  position: relative;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .isotope-filters-responsive {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991.98px) {
  .isotope-filters-responsive {
    vertical-align: middle;
  }
  .isotope-filters-responsive .isotope-filters-toggle {
    padding: 8px 15px;
  }
  .isotope-filters-responsive .isotope-filters-toggle .caret {
    margin-left: 5px;
  }
  .isotope-filters-responsive > li {
    position: relative;
    vertical-align: middle;
    padding: 0;
  }
  .isotope-filters-responsive > li:first-child {
    margin-right: 8px;
  }
  .isotope-filters-responsive > li + li {
    margin-top: 8px;
  }
  .isotope-filters-responsive .isotope-filters {
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 200px;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 0.33s all ease;
    border: 1px solid #f2f2f2;
  }
  .isotope-filters-responsive .isotope-filters.active {
    visibility: visible;
    opacity: 1;
  }
  .isotope-filters-responsive .isotope-filters .inline-list {
    width: 100%;
  }
  .isotope-filters-responsive .isotope-filters .inline-list a {
    display: inline-block;
    width: 100%;
    padding: 3px 8px;
    font-size: 12px;
    color: #000;
    border: 0;
    background-color: transparent;
  }
  .isotope-filters-responsive .isotope-filters .inline-list a.active,
  .isotope-filters-responsive .isotope-filters .inline-list a:hover {
    color: #80deea;
    background-color: rgba(128, 222, 234, 0.1);
  }
  .isotope-filters-responsive .isotope-filters li {
    display: block;
    width: 100%;
  }
  .isotope-filters-responsive .isotope-filters li + li {
    margin-top: 6px;
  }
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .isotope-filters-responsive .isotope-filters {
    left: 0;
    transform: none;
  }
  .isotope-filters-responsive > li {
    display: inline-block;
    margin: 0;
  }
  .isotope-filters-responsive > li + li {
    margin-top: 0;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .isotope-filters-responsive .isotope-filters {
    width: 250px;
  }
  .isotope-filters-responsive .isotope-filters .inline-list a {
    padding: 5px 10px;
  }
}

@media (min-width: 992px) {
  .isotope-filters-responsive .inline-list > li:not(:last-child) {
    margin-right: 5px;
  }
  .isotope-filters-responsive .inline-list a {
    border: 2px solid #fff;
    padding: 12px 20px 12px;
  }
  .isotope-filters-responsive .inline-list a,
  .isotope-filters-responsive .inline-list a:active,
  .isotope-filters-responsive .inline-list a:focus {
    color: #888;
  }
  .isotope-filters-responsive .inline-list a:hover,
  .isotope-filters-responsive .inline-list a.active {
    color: #fff;
  }
  .isotope-filters-responsive .isotope-filters-toggle,
  .isotope-filters-responsive > li:first-child {
    display: none;
  }
}

* + .isotope,
* + .isotope-filters-responsive {
  margin-top: 0;
}

* + .isotope-wrap {
  margin-top: 50px;
}

.isotope-filters-toggle {
  display: block;
  border: 0;
  outline: 0;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail-variant-3 {
  min-height: 250px;
}

.img-thumbnail-variant-3 img {
  max-width: 200%;
  width: auto;
}

@media (min-width: 576px) {
  .img-thumbnail-variant-3 {
    min-height: 300px;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .img-thumbnail-variant-3 {
    max-height: 360px;
  }
}

@media (min-width: 992px) {
  .img-thumbnail-variant-3 {
    max-height: 100%;
    max-width: 100%;
  }
}

.portfolio-masonry-container .img-thumbnail-variant-3 {
  min-height: 300px;
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .portfolio-masonry-container .img-thumbnail-variant-3 {
    max-width: 100%;
  }
}
